.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
}

/* Navbar visible en todas las páginas */
.navbar {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: sticky; /* se queda en top al hacer scroll */
  top: 0;
  z-index: 1000;
}

.logo {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}

.navbar button {
  margin-left: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid #00bfff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #00bfff;
  color: black;
}

/* Contenedor del contenido debajo de la navbar */
.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 20px; /* separa del navbar */
}
/* ====== Footer ====== */
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px 20px;
  border-top: 1px solid #00bfff;
}

.nav-left {
  display: flex;
  gap: 12px;
  align-items: center;
}
